.vscode
api-server/tesazure/memory
celerybeat*

# Terraform
.terraform/
terraform/plan
*.tfstate
*.tfstate.*
plan

# Cromwell
resources/cromwell/*.jar
cromwell-workflow-logs/
cromwell-executions/

# Pipenv - we use requirements.txt
Pipfile
Pipfile.lock

# Common
.DS_Store
Thumbs.db
