###
### Copy this file as api-server.env, then edit these
###

#
## Base config
#
FLASK_APP=serve.py
# FLASK_ENV=development uses the wrong debugger for vscode
FLASK_ENV=vscode-development
SERVER_NAME=localhost:5000
APP_PYTHONUNBUFFERED=1 # https://github.com/pallets/flask/issues/1420

#
## Application settings
#
APP_COMPUTE_BACKEND=batch
APP_BATCH_ACCOUNT_NAME=account_name
APP_BATCH_ACCOUNT_KEY=account_key
APP_BATCH_ACCOUNT_URL=https://accountname.geo.batch.azure.com

APP_BATCH_POOL_DEDICATED_NODE_COUNT=0
APP_BATCH_POOL_LOW_PRIORITY_NODE_COUNT=2
APP_BATCH_NODE_ADMIN_USERNAME="sshdebug"
APP_BATCH_NODE_ADMIN_PASSWORD='testUser!!12345'

APP_STORAGE_ACCOUNT_NAME=storage_account_name
APP_STORAGE_ACCOUNT_KEY=storage_account_key
