[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
ptvsd = "*"
flake8 = "*"
pytest = "*"
pytest-flask = "*"
pytest-mock = "*"
testtools = "*"

[packages]
adal = "*"
alembic = "*"
amqp = "*"
applicationinsights = "*"
arrow = "*"
azure-batch = "*"
azure-common = "*"
azure-keyvault = "*"
azure-mgmt-batch = "*"
azure-mgmt-resource = "*"
azure-mgmt-storage = "*"
azure-storage-blob = "*"
azure-storage-common = "*"
azure-storage-file = "*"
Babel = "*"
celery = "*"
certifi = "*"
cssmin = "*"
Faker = "*"
Flask = "*"
Flask-Assets = "*"
Flask-Babel = "*"
Flask-Bcrypt = "*"
Flask-CeleryExt = "*"
Flask-Env = "*"
Flask-KeyVault = "*"
Flask-Limiter = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-RESTful = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
gunicorn = "*"
grpcio = "*"
itsdangerous = "*"
Jinja2 = "*"
jsmin = "*"
MarkupSafe = "*"
marshmallow = "*"
marshmallow-enum = "*"
opencensus = "==0.1.10"
psycopg2-binary = "*"
PyJWT = "*"
python-dateutil = "*"
redis = "*"
requests = "*"
requests-oauthlib = "*"
rfc6266 = "*"
SQLAlchemy = "*"
sqlalchemy-json = "*"
SQLAlchemy-Utils = "*"
webassets = "*"
WTForms = "*"
