applicationinsights==0.11.7
arrow==0.12.1
azure-batch==5.1.1
azure-mgmt-batch==6.0.0
azure-mgmt-resource==2.1.0
azure-mgmt-storage==3.1.1
azure-storage-blob==1.4.0
azure-storage-file==1.4.0
blinker==1.4
celery==4.2.1
cssmin==0.2.0
faker==1.0.0
flask-assets==0.12
flask-babel==0.12.2
flask-bcrypt==0.7.1
flask-celeryext==0.3.1
flask-env==2.0.0
flask-keyvault==0.6.0
flask-limiter==1.0.1
flask-login==0.4.1
flask-migrate==2.3.0
flask-restful==0.3.6
flask-script==2.0.6
flask-sqlalchemy==2.3.2
flask-wtf==0.14.2
flask==1.0.2
grpcio==1.17.1
gunicorn==19.9.0
itsdangerous==1.1.0
jinja2==2.10
jsmin==2.2.2
markupsafe==1.1.0
marshmallow-enum==1.4.1
marshmallow==2.16.3
opencensus==0.1.10
psycopg2-binary==2.7.6.1
ptvsd==4.2.4
python-dateutil==2.7.5
redis==3.2.0
requests-oauthlib==1.0.0
requests==2.20.1
sqlalchemy-json==0.2.3
sqlalchemy-utils==0.33.6
sqlalchemy==1.2.14
tox==3.5.3
werkzeug==0.14.1
wrapt==1.10.11
wtforms==2.2.1