-i https://pypi.org/simple
-e git+https://github.com/stewartadam/pycosio@e67dec613eb2118e2004b68b36d744dfefcc4db4#egg=pycosio
asn1crypto==0.24.0
azure-common==1.1.20
azure-storage-blob==1.5.0
azure-storage-common==1.4.0
bcrypt==3.1.6
boto3==1.9.143
botocore==1.12.143
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.6.1
docutils==0.14
google-api-core==1.10.0
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-storage==1.15.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.10
idna==2.8
jmespath==0.9.4
lepl==5.1.3
paramiko==2.4.2
protobuf==3.7.1
pyasn1-modules==0.2.5
pyasn1==0.4.5
pycparser==2.19
pynacl==1.3.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
rfc6266==0.0.4
rsa==4.7
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.3
